
<li class="cards__item">
    <div class="cards__item__wrapper">
        <div class="cards__item__imgWrapper">
            
            <img class="cards__item__img" src="{{img}}" alt="{{name}}">
        </div>
        <p class="cards__item__title">{{name}}</p>
        <p class="cards__item__desk">
            Category:<span class="cards__item__desk--value">{{category}}   </span>    
            Size:<span class="cards__item__desk--value">{{size}}</span> <br>
            Popularity:<span class="cards__item__desk--value">{{popularity}}</span>
        </p>


        <div class="cards__item__priceWrapper">
            <p class="cards__item__price">${{price}}</p>

            <button class="cards__item__basket">
                <svg width="18" height="19" viewBox="0 0 18 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                <g clip-path="url(#clip0_2_97)">
                <g clip-path="url(#clip1_2_97)">
                <path d="M2.70005 1.01013C2.46135 1.01013 2.23244 1.10495 2.06365 1.27374C1.89487 1.44252 1.80005 1.67144 1.80005 1.91013C1.80005 2.14883 1.89487 2.37775 2.06365 2.54653C2.23244 2.71531 2.46135 2.81013 2.70005 2.81013H3.79805L4.07255 3.90993C4.07528 3.9226 4.07828 3.9352 4.08155 3.94773L5.30375 8.83473L4.50005 9.63753C3.36605 10.7715 4.16885 12.7101 5.77265 12.7101H13.5C13.7387 12.7101 13.9677 12.6153 14.1364 12.4465C14.3052 12.2777 14.4 12.0488 14.4 11.8101C14.4 11.5714 14.3052 11.3425 14.1364 11.1737C13.9677 11.0049 13.7387 10.9101 13.5 10.9101H5.77265L6.67265 10.0101H12.6C12.7671 10.01 12.9309 9.96344 13.073 9.87554C13.2151 9.78763 13.33 9.66191 13.4046 9.51243L16.1046 4.11243C16.1732 3.97526 16.2056 3.82284 16.1987 3.66964C16.1918 3.51644 16.1458 3.36755 16.0652 3.23709C15.9846 3.10663 15.872 2.99893 15.7381 2.9242C15.6042 2.84948 15.4534 2.81022 15.3 2.81013H5.65205L5.37305 1.69143C5.32429 1.49681 5.21191 1.32406 5.05374 1.20062C4.89557 1.07718 4.70068 1.01014 4.50005 1.01013H2.70005ZM14.4 14.9601C14.4 15.3182 14.2578 15.6615 14.0046 15.9147C13.7515 16.1679 13.4081 16.3101 13.05 16.3101C12.692 16.3101 12.3486 16.1679 12.0955 15.9147C11.8423 15.6615 11.7 15.3182 11.7 14.9601C11.7 14.6021 11.8423 14.2587 12.0955 14.0055C12.3486 13.7524 12.692 13.6101 13.05 13.6101C13.4081 13.6101 13.7515 13.7524 14.0046 14.0055C14.2578 14.2587 14.4 14.6021 14.4 14.9601ZM5.85005 16.3101C6.20809 16.3101 6.55147 16.1679 6.80464 15.9147C7.05782 15.6615 7.20005 15.3182 7.20005 14.9601C7.20005 14.6021 7.05782 14.2587 6.80464 14.0055C6.55147 13.7524 6.20809 13.6101 5.85005 13.6101C5.49201 13.6101 5.14863 13.7524 4.89545 14.0055C4.64228 14.2587 4.50005 14.6021 4.50005 14.9601C4.50005 15.3182 4.64228 15.6615 4.89545 15.9147C5.14863 16.1679 5.49201 16.3101 5.85005 16.3101Z" fill="#E8E8E2"/>
                </g>
                </g>
                <defs>
                <clipPath id="clip0_2_97">
                <rect width="18" height="18" fill="white" transform="translate(0 0.110107)"/>
                </clipPath>
                <clipPath id="clip1_2_97">
                <rect width="18" height="18" fill="white" transform="translate(0 0.110107)"/>
                </clipPath>
                </defs>
                </svg>
            </button>

        </div>


    </div>
</li>


